/*variaves*/
:root{
  --fuente-principal:  'Rampart One', cursive;
}

/*global*/
body{
  background-color: aqua;
}
/*header*/
.header{
  display: flex;
  justify-content: center;
  background-color: black;
}

.header__h1{
  font-family: var(--fuente-principal);
  text-transform: uppercase;
  color: white;
}
/*boton*/
.contenedor-boton{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.boton{
  padding: .5rem;
}

/*imagenes*/

.contenedor-img{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 768px){
    .contenedor-img{
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);
    }
}

.img{
  max-width: 60%;
  padding: 1rem;
}

/*footer*/

.footer1{
  background-color: red;
  padding:  1px;
  margin: 5px;
}
.footer__h3{
  color: white;
  text-align: center;
}
.footer2{
  background-color: black;
  padding:  1px;
  margin: 5px;
}
