/*header*/
.header{
  display: flex;
  justify-content: center;
  background-color: black;
}
.h1{  
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-transform: uppercase;
}
.h1__2{
  font-family: 'Monoton', cursive;
  color: red;
  transition: color .7s ease;
}
.h1__2:hover{
  color: yellow;
}
